$background-color: #151420;
$highlight-color: rgb(245 158 11);
$highlight-text: #0f1741;
$tern-color: #daa662;
$tern-text: #3b3b3b;
$secondary-color: #40477e;
$error-color: #dc3545;
$light-background: #f8f8f8;
$highlight-background: #ffffff;
$success: #0fcc3b;

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
