@import 'constant.scss';

.submit {
  background-color: $highlight-color;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20pt;
  font-weight: 500;
}

.relative {
  position: relative;
}

.card {
  background-color: $highlight-color;
  border-radius: 5px;
  width: 80%;
  margin: 5px;
  padding: 0px;
  font-weight: bold;
}

.top-left {
  position: absolute;
  top: 2px;
  right: 2px;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.checkbox-container p {
  margin: 2px;
}