@import 'constant.scss';

input[type=submit] {
  background-color: $highlight-color;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20pt;
  font-weight: 500;
}