@import 'constant.scss';

.relative {
  position: relative;
}

.card {
  background-color: $light-background;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: $background-color;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  padding: 0px;
  font-weight: bold;
}

.top-left {
  position: absolute;
  top: 2px;
  right: 2px;
}

.row-container {
  display: flex;
  flex-direction: row;
}

.col-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.row-center {
  justify-content: center;
  flex-wrap: wrap;
}

.row-evenly {
  justify-content: space-evenly;
}

.three-col {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 98%;
}

.bottom {
  margin-top: auto;
}

.card p {
  margin: 2px;
}

.card h3 {
  margin: 0px;
  padding: 0px;
}

.opti-slider {
  width: 70%;
}

.auto-bottom {
  margin-top: auto;
}

.group-chip {
  background-color: $highlight-color;
  color: $background-color;
  margin: 4px;
  gap: 7px;
  font-weight: normal;
  overflow: hidden;
}

.group-text-col {
  justify-content: space-between;
}

@keyframes translateOpen {
  0% {
    max-height: 22px;
  }

  100% {
    max-height: 100px;
  }
}

.group-text {
  gap: 3px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.period-group {
  margin-left: auto;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.closed-group {
  background-color: $error-color;
}

.vertical-bar {
  max-height: 100%;
  width: 2px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: $background-color;
}

.chips {
  padding: 5px 8px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.tab-button {
  background-color: $tern-color;
  border: none;
  color: $tern-text;
  margin-top: 5px;
  margin-right: 5px;
  text-align: center;
  justify-content: left;
  text-decoration: none;
  transition-duration: 150ms;
}

.tab-width {
  flex-wrap: wrap;
  width: 100%;
}

.tab-selected {
  background-color: $highlight-color;
  color: $tern-text;
}

.close {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.number-input {
  height: 22pt;
  margin-left: auto;
}

.title {
  line-height: 0.1;
}

.selected-hour {
  background-color: rgb(87, 104, 175);
}

.unselected-hour {
  background-color: $light-background;
}

.selection {
  pointer-events: none;
}

.notif-modal {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 40;
  backdrop-filter: blur(0.5em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.notif-body {
  width: 42em;
  height: 15em;
  background-color: $light-background;
  display: flex;
  padding: 5em;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  position: relative;
}

.close-button {
  height: 2em;
  width: 2em;
  position: absolute;
  right: 2em;
  top: 2em;
}