@import 'constant.scss';

.schedule-container {
width: 83%;
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: 10pt;
  border-collapse: collapse;
  animation: 0.1s ease-out 1 fadeIn;
}

// Calendar inspired by https://codepen.io/kjellmf/pen/qgxyVJ

$days-height: 2em;
$time-width: 2em;
$hours: repeat(14, 2em);
$days: $time-width 10px repeat(5, 1fr);

body {
  background: #fff;
}

.schedule {
  width: 100%;
  display: grid;
  grid-template-rows: $days-height auto;
}

.days {
  background: $background-color;
  color:white;
  display: grid;
  place-content: center;
  text-align: center;
  grid-template-columns: $days;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid $highlight-color;
}

.cours {
  width: 100%;
}

.day {
  border-left: 1px solid $highlight-color;
}

.content {
  display: grid;
  grid-template-columns: $days;
  grid-template-rows: $hours;
}

.time {
  grid-column: 1;
  text-align: right;
  align-self: end;
  font-size: 80%;
  position: relative;
  bottom: -1ex;
  color: black;
  padding-right: 2px;
}

.col {
  border-right: 1px solid black;
  grid-row: 1 / span 24;
  grid-column: span 1;
}

.filler-col {
  grid-row: 1 / -1;
  grid-column: 2;
  border-right: 1px solid black;
}

.row {
  grid-column: 2 / -1;
  border-bottom: 1px solid black;
}

.event {
  border-radius: 5px;
  padding: 1px;
  margin: 3px;
  font-weight: bold;
  font-size: 70%;
  background-color: $highlight-color;
  text-align: center;
}

.event p {
  margin: 0px;
}

.conflict {
  background-color: rgba(255, 69, 69, 0.69);
  z-index: 10;
}

.b1 {
  width: 45%;
  margin-right: 55%;
}

.b2 {
  width: 45%;
  margin-left: 55%;
}
